/* Clases personalizadas para el gráfico circular */
.pie-chart {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .pie-slice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip: rect(0, 100px, 200px, 100px);
    transform-origin: 50% 50%;
  }
  
  .pie-slice-1 {
    transform: rotate(0deg);
  }
  
  .pie-slice-2 {
    transform: rotate(72deg);
  }
  
  .pie-slice-3 {
    transform: rotate(144deg);
  }
  
  .pie-slice-4 {
    transform: rotate(216deg);
  }
  
  .pie-slice-5 {
    transform: rotate(288deg);
  }
  