* {
  box-sizing: border-box;
}

:root {
  --purple-color: #6c60ff;
  --darkGray-color: #181818;
  --purple-active-hover: #918ae2;
  --darkGray-active-hover: #2f2f2f;
  --error-color: #db324d;
  --auth-container-background: #ededed;
}

.generator-container {
  border: 2px solid blue;
  min-height: 92.8vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.generator-container .title {
  width: 100%;
  height: 6%;
  border: 2px solid red;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}

.generator-container .generator-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid rgb(252, 250, 76);
  width: 100%;
  height: 87vh;
}

.color-box {
  border: 3px solid green;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  transition: all 0.2s ease-in-out;
}

.color-box:hover {
  flex-grow: 3;
}
.color-box h1 {
  color: white;
  text-shadow: -0.5px 0 rgb(0, 0, 0), 0 0.5px rgb(0, 0, 0), 0.5px 0 rgb(0, 0, 0),
    0 -0.5px rgb(0, 0, 0);
}

.color-box .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  width: 35%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0.3125rem;
}

.color-box .icons:hover {
  background-color: #69696956;
  border-radius: 0.625rem;
}
